* {
    font-family: 'Montserrat', sans-serif;
}

body {
    overflow-x: hidden;
}

#searchbar {
    position: relative;
    background: #fffff;
    border: 5px solid black;
    box-sizing: border-box;
    border-radius: 7px;
    padding: 5px;
    height: 70px;
    width: 100%;
    font-size: 35px;
    top: -5%;
    font-family: 'Montserrat', sans-serif;
    transition-duration: 0.5s;
}

#search {
    display: block;
    top: 100px;
    background:white;
    width: 600px;
    margin: 0 auto;
}

h1 {
    position: relative;
    opacity: 0;
    color: black;
    font-size: 42px;
    margin-bottom: 0px;
    font-family: 'Montserrat', sans-serif;
    animation: fallIn 2s forwards;
    transform: translateY(-20px);
}

@keyframes fallIn {
    from { opacity: 0; transform: translateY(-20px);}
    to { opacity: 1; transform: translateY(0px);}
}

h2 {
    position: relative;
    display: inline-block;
    color: black;
    left: 20px;
    top: 8px;
    font-size: 32px;
    font-weight: 200;
    font-family: 'Montserrat', sans-serif;
}

#header {
    position: relative;
    display:block;
    background-color: #F5F5F5;
    display: block;
    height: 100px;
    width: 102%;
    left: -8px;
    top: -10px;
}

#results {
    background: white;
    overflow-x: hidden;
    position: relative;
    display: block;
    margin-left:-6px;
    width: 102%;
}

table {
    width: 100%;
    margin-left: -10px;
    padding-right: 10px;
    position: relative;
    overflow-x: hidden;
}

table, th, td {
    border-collapse: collapse;
    border-bottom: 1px solid #ddd;
    padding: 5px;
    font-family: 'Montserrat', sans-serif;
}

th {
    background-color: #f2f2f2;
    height: 40px;
    font-size: 17px;
}

#resultstable tr:hover {cal
    background-color: #f5f5f5;
}

td {
    width: 10%;
    height: 28px;
    padding: 14px;
}

#searchbar:focus {
    outline: none;
    box-shadow:1px 1px 8px 4px #888888;
}

.filter {
    position: relative;
    margin-top: 20px;
    display: block;
    background: black;
}

select {
    margin-top: 20px;
    width: 30%;
    font-family: 'Montserrat', sans-serif;
    padding: .6em 1.4em .5em .8em;
    appearance: none;
    -webkit-appearance: none;
    height: 35px;
}

span {
    font-family: 'Montserrat', sans-serif;
}

select:focus {
    box-shadow:1px 1px -8px 4px #888888;
    outline: none;
}

.positive{
    background-color: rgb(115, 222, 145);
}

.positive:hover {
    background-color: rgb(70, 222, 113);
}

.negative{
    background-color: rgba(247, 129, 129, 0.824);
}

.negative:hover {
    background-color: rgba(237, 89, 89, 0.824);
}

button, #tooltip{
    border: 1px solid black;
    display: inline-block;
    font-family: 'Montserrat', sans-serif;
    background-color: white;
    height: 35px;
    width: 18%;
    text-transform: uppercase;

    transition-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.275);
    background-image: linear-gradient(to right, #171717 50%, transparent 50%);
    background-position: 100% 0%;
    background-size: 200% 100%;
    transition: 0.5s;
    }

button:hover {
    color: #f3f3f3;
    background-position: 0% 50%;
    border-radius: 5px;
    color: white;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.25);
}

#calculator{
    font-family: 'Montserrat', sans-serif;
    display: flex;
    position: fixed;
    z-index: 20;
    margin-left: 20%;
    min-height: 600px;
    width: 60%;
    padding: 0px;
    background-color: rgb(247, 247, 247);
    border-radius: 10px;
    font-size: 22px;
    text-align: center;
    box-shadow: 6px 6px 12px rgba(0,0,0,0.25);
}

#calctoggle {
    width: 150px;
    margin-left: 50px;
    font-size: 14px;
}

#shield {
    z-index: 19;
    position: fixed;
    background-color: rgba(128, 128, 128, 0.502);
    margin-left: -10px;
    margin-top: -10px;
    width: 105%;
    height:105%;
}

#calcexplainer {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: space-around;
    border-radius: 10px 0px 0px 10px;
    width: 35%;
    background-color: blue;
    padding: 30px;
    position: relative;
    background: rgb(186,50,196);
    background: linear-gradient(132deg, rgba(186,50,196,1) 0%, rgba(9,9,121,1) 100%, rgba(0,212,255,1) 100%);
}

#calcinputgroup {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    position: relative;
    background-color: white;
    padding: 50px;
    width: 65%;
    text-align: left;
}

#calculatortable {
    font-size: 18px;
}

#calcexplainer span {
    font-size: 35px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: left;
    transition: .5s ease-in-out;
    text-shadow: 4px 4px 5px rgba(0, 0, 0, 0.411);
}

#calcexplainer span:hover {
    color: black;
    transform: translateY(-2px);
    text-shadow: 4px 6px 10px rgba(0,0,0,0.44);
}

#calcexplainer p {
    text-align: left;
}

#calcinputgroup button {
    width: 200px;
    height: 60px;
    font-size: 21px;
}

ol {
    text-align: left;
}

h3 span {
    font-weight: 100;
}


.calcinput {
    margin-right: 0px;
    font-size: 16px;
    padding: 7px;
    border-radius: 7px;
    border: 0px dotted rgb(201, 201, 201);
    height: 40px;
    font-size: 22px;
    background-color: rgb(240, 240, 240);
    width: 200px;
    transition: 0.2s cubic-bezier(1,0.2,.5,1);
}

.calcinput:focus {
    outline: none;
    background-color: #b8b8b8;
}

.calclabel {
    width: 40%;
    display: inline-block;
}

img {
    display: none;
}

#dashboard {
    display: flex;
    flex-direction: row;
    width: 90%;
    min-height: 650px;
    margin: 50px auto;
    background-color: white;
    border-radius: 5px;
    box-shadow: 3px 3px 6px rgba(0,0,0,0.25);
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.graph {
    background-color: white;
    height: 550px;
    width: 800px;
}

#dashtitle {
    width: 100%;
    text-align: center;
    text-decoration: underline;
    margin-bottom: 20px;
}

#tooltip {
    position: fixed;
    text-transform: none;
    font-size: 10px;
    padding: 2px;
    text-align: center;
    height: auto;
}